@import "../../settings/fonts";

#main-screen {
    height: 100vh;
    width: 100%;
    background-color: darkcyan;
    display: flex;
    align-items: center;

    @media (max-width: 790px){
        justify-content: center;
    }

    .main-book {
        height: 90%;
        position: absolute;
        // right: 40vw;
        box-shadow: 0 0 5px 10px darkcyan;

        @media (max-width: 790px){
            // right: 0;
        }

    }

    .book-look-1 {

        @media (max-width: 790px){
            display: none;
        }

    }

    .book-look-2 {

        @media (min-width: 791px){
            display: none;
        }
        
    }

    .main-title-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: relative;
        color: white;
        width: 50%;
        height: 50%;
        left: 40vw;

        @media (max-width: 790px){
            left: 0;
            width: 100%;
            // color: black;
        }

        .title {
            font-size: 120px;
            font-family: $font-base;

            @media (max-width: 790px){
                font-size: 45px;
            }

        }

        .description {
            font-size: 35px;
            font-weight: 100;
            font-family: $font-base;

            @media (max-width: 790px){
                font-size: 20px;
                // color: black;
            }

        }

        .start {
            background: none;
            outline: none;
            color: white;
            border: 0.75px solid white;
            font-size: 20px;
            padding: 25px;
            transition: 0.5s;
            font-family: $font-base;

            @media (max-width: 790px){
                // color: black;
                // border-color: black;
            }
        }

        .start:hover {
            cursor: pointer;
            background: white;
            color: darkcyan;

            @media (max-width: 790px){
                // background: black;
            }

        }

    }

}