@import "../../settings/fonts";

*{
    margin: 0;
    padding: 0;
}

#search-section {
    min-height: 100vh;
    background: white;
    box-sizing: border-box;
    padding: 0 100px 100px 100px;

    @media (max-width: 790px){
        padding: 0 10px 10px 10px;
    }


    .search-header {
        box-sizing: border-box;
        padding-top: 50px;
        background: white;
        position: sticky;
        top: 0px;

        @media (max-width: 790px){
            padding-top: 25px;
        }

        h2 {
            font-size: 70px;
            font-family: $font-base;

            @media (max-width: 790px){
                font-size: 25px;
            }

        }
    
        .search-input {
            margin: 20px 5px;
            border: none;
            outline: none;
            border-bottom: 2px solid black;
            background: none;
            height: 50px;
            width: 300px;
            font-size: 35px;
            text-align: center;
            font-family: $font-base;

            @media (max-width: 790px){
                margin: 5px 5px;
                height: 25px;
                font-size: 15px;
            }

        }

    }

    
    .books-container {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: justify;
        font-family: $font-base;
    }

}



