@import "../../settings/fonts";

.book-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: flex-start;
    margin: 0 20px;

    .img-wrapper {
        height: 200px;
        width: 100px;
        background-size: contain;
        // border: 1px solid black;
    }

    .book-basic-details-title {
        width: 300px;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
    }

    .book-basic-details {
        width: 300px;
        margin-bottom: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

.book-wrapper:hover {
    cursor: pointer;
    background: lightgrey;
}


.modal-header {

    width: 100%;
    height: 50px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    font-family: $font-base;

    .modal-close {
        background: none;
        border: none;
        color: grey;
        outline: none;
        font-size: 20px;
    }
    
    .modal-close:hover {
        cursor: pointer;
    }

}

.modal-cargo {

    display: flex;
    height: 80%;
    align-items: center;
    font-family: $font-base;

    @media (max-width: 790px){
        flex-direction: column;
    }

    .modal-img-wrapper {
        width: auto;
        height: auto;
        min-height: 300px;
        max-height: 100%;
    }

    .modal-description {
        margin: 10px 40px;
        height: 300px;
    }

}



